<div class="container mt-5">

  <div class="bg-primary text-white text-center py-4 shadow rounded mb-4">
    <h1 class="h3 m-0 d-inline-flex align-items-center justify-content-center">
      Criar Teste de Sistema
      <i class="bi bi-plus-circle ms-2 fs-2"></i>
    </h1>
  </div>


  <div class="mb-4">
    <a routerLink="/post/index" class="btn btn-secondary">
      <i class="bi bi-arrow-left"></i> Voltar
    </a>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="shadow p-2 rounded bg-light">

    <div class="form-group mb-3">
      <label for="id_implementacao" class="form-label">ID Implementação:</label>
      <input
        formControlName="id_implementacao"
        id="id_implementacao"
        type="text"
        class="form-control">
      <div *ngIf="f['id_implementacao'].touched && f['id_implementacao'].invalid" class="alert alert-danger mt-2">
        <div *ngIf="f['id_implementacao'].errors?.['required']">
          Campo obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="Resultado" class="form-label">Resultado:</label>
      <select
         formControlName="resultado"
        id="resultado"
        class="form-select">
        <option value="">Selecione</option>
        <option value="Sucesso">Sucesso</option>
        <option value="Falha">Falha</option>
        <option value="Parcial">Parcial</option>
      </select>
      <div *ngIf="f['status'].touched && f['status'].invalid" class="alert alert-danger mt-2">
        <div *ngIf="f['status'].errors?.['required']">
          Campo obrigatório.
        </div>
      </div>
    </div>


    <div class="form-group mb-3">
      <label for="detalhes_teste" class="form-label">Detalhes do Teste:</label>
      <textarea
        formControlName="detalhes_teste"
        id="detalhes_teste"
        rows="4"
        class="form-control"></textarea>
      <div *ngIf="f['detalhes_teste'].touched && f['detalhes_teste'].invalid" class="alert alert-danger mt-2">
        <div *ngIf="f['detalhes_teste'].errors?.['required']">
          Campo obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="data_teste" class="form-label">Data do Teste:</label>
      <input
        formControlName="data_teste"
        id="data_teste"
        type="date"
        class="form-control">
      <div *ngIf="f['data_teste'].touched && f['data_teste'].invalid" class="alert alert-danger mt-2">
        <div *ngIf="f['data_teste'].errors?.['required']">
          Campo obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="responsavel_teste" class="form-label">Responsável pelo Teste:</label>
      <input
        formControlName="responsavel_teste"
        id="responsavel_teste"
        type="text"
        class="form-control">
      <div *ngIf="f['responsavel_teste'].touched && f['responsavel_teste'].invalid" class="alert alert-danger mt-2">
        <div *ngIf="f['responsavel_teste'].errors?.['required']">
          Campo obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="status" class="form-label">Status:</label>
      <select
        formControlName="status"
        id="status"
        class="form-select">
        <option value="">Selecione</option>
        <option value="[1] - Em andamento">[1] - Em andamento</option>
        <option value="[2] - Em aceite">[2] - Em aceite</option>
      </select>
      <div *ngIf="f['status'].touched && f['status'].invalid" class="alert alert-danger mt-2">
        <div *ngIf="f['status'].errors?.['required']">
          Campo obrigatório.
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      <i class="bi bi-save"></i> Salvar
    </button>

  </form>
</div>
